.numberError {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error {
  color: #000;
  margin: 0;
  font-size: 350px;
  letter-spacing: 10px;
}

.error::before,
.error::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.error::before {
  color: #ee1b52;
  animation: glitch 1s infinite;
}

.error::after {
  color: #69c9d0;
  animation: glitch 2s infinite;
}

.notFound {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  padding: 0 30px;
  border-left: 20px solid #ee1b52;
  border-right: 20px solid #69c9d0;
}

@keyframes glitch {
  0% {
    top: -5px;
    left: -3px;
  }
  25% {
    top: 0px;
    left: -3px;
  }
  50% {
    top: 5px;
    left: 3px;
  }
  75% {
    top: 0px;
    left: 5px;
  }
  100% {
    top: -5px;
    left: -3px;
  }
}
